
@model MyLeasing.Web.Models.ContractViewModel

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear</h2>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddContract">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="PropertyId" />

            <partial name="_Contract" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="DetailsProperty" asp-route-id="@Model.PropertyId" class="btn btn-success">Regresar a la Propiedad</a>
            </div>
        </form>
    </div>
</div>